.conteudo{
    width: 600px;
    height: 500px;
    margin: auto;
    background: #69c;
}
.galeria{
    width: 600px;
    height: 390px;
    margin-bottom: 10px;
    background: #fff;
    margin: auto;
    border: solid 1px #333;
    border-radius: 10px;
}
.mini{
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 10px;
}
.galeria #img_g{
    border: solid 1px #fff;
    border-radius: 10px;
}
.mini .img{
    border: solid 1px #fff;
    border-radius: 10px;
}